# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables (Keep passwords safe!)
.env

# (Optional) Ignore the large JSON data
# applicant_data.json